
<!-- Mobile Navigation -->
<nav class="mobile-nav" id="mobile_nav">
	<div class="mobile-nav__in">
		<ul class="mobile-main-menu">
			<li><a href="#">Les spectacles</a></li>
			<li><a href="#">Actualités</a></li>
			<li><a href="#">Galerie</a></li>
			<li><a href="#">Concours</a></li>
			<li><a href="#">Live Music Production</a></li>
			<li><a href="#">Informations</a></li>
			<li><a href="#">Billetterie</a></li>
			<li><a href="#">Contact</a></li>
		</ul>

		<ul class="mobile-addition-menu">
			<li><a href="#">Informations légales</a></li>
			<li><a href="#">Conditions commerciales</a></li>
			<li><a href="#">Plan du site</a></li>
			<li><a href="#">Crédits</a></li>
		</ul>

		<ul class="mobile-foot-menu">
			<li class="mobile-lng">
				<a href="#">EN</a>
				<a href="#">FR</a>
			</li>

			<li class="mobile-follow">
				<span>Follow us: </span>
				<a href="#"><i class="icon-facebook"></i></a>
				<a href="#"><i class="icon-twitter"></i></a>				
			</li>
		</ul>
	</div>
</nav>
<!-- /Mobile Navigation -->

<!-- Main Header -->
<header class="main-head">
	<div class="container">
		<div class="main-head__in">
		
			<a href="" class="logo"><img src="img/logo.jpg" alt=""></a>

			<!-- Main navigation -->
			<nav class="top-nav">
				<ul class="top-menu">
					<li><a href="#">Les spectacles</a></li>
					<li><a href="#">Actualités</a></li>
					<li><a href="#">Galerie</a></li>
					<li><a href="#">Concours</a></li>
					<li><a href="#">Live Music Production</a></li>
					<li><a href="#">Info</a></li>
					<li><a href="#">Contact</a></li>                  
				</ul>

				<ul class="top-btns cf">
					<li class="top-btns__phone"><a href="tel:1111111111"><i class="icon-vectorpaint-3"></i></a></li>
					<li class="top-btns__search" id="search_btn"><a href="#">rechercher</a></li>

					<!-- Hamburger -->
					<li class="top-btns__hamburger">
						<button class="hamburger hamburger--spin" type="button" id="hamburger">
					  		<span class="hamburger-box ">
					    		<span class="hamburger-inner"></span>
					  		</span>
						</button>
					</li>
					<!-- Hamburger -->

					<li class="top-btns__get-ticket"><a href="#">Billetterie</a></li>
				</ul>
				
				<!-- Search Form -->
				<div class="head-search" id="head_search">
					<div class="container">
						<form method="" class="head-search__form" action="">
							<input type="text" placeholder="Enter search term here" value="" name="s" autocomplete="off">
							<button type="submit" class="icon-search"></button>
						</form>
					</div>
				</div>
				
				<!-- /Search Form -->
			</nav>
			<!-- /Main navigation -->

			

		</div>
	</div>
</header>
<!-- /Main Header -->