//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	2. Custom Starter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html,
body{
	height: 100%;
}
body{
	//font: 16px/26px @open;
	overflow-x: hidden;
	background: #000;
}

img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

a{
	font-weight: 600;
	color: #333232;
	text-decoration: none;
	transition: color .3s ease;

	&:hover{
		color: @red;
	}
}

.main-w{
	display: table;
	width: 100%;
	height: 100%;

}

.content-w{
	display: table-row;
	height: 100%;
}

input[type="text"],
input[type="email"],
textarea{
	outline: none !important;

}

/* Let's get this party started */
// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }
 
// /* Track */
// ::-webkit-scrollbar-track {
//     background: #fafafa;
// }
 
//  Handle 
// ::-webkit-scrollbar-thumb {
//     background: @green; 
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: rgba(99,168,50,.5); 
// }

