//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	3. Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-head{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
	background: #fff;

	&__in{
		.justify;
	}

}

.logo{
	display: inline-block;
	vertical-align: middle;

	>img{
		display: block;
	}
}

.head-search{
	position: fixed;
	left: 0;
	top: 80px;
	right: 0;
	background: rgba(19,31,40,.8);
	padding: 23px 0 20px;
	transition: bakground .3s ease;
	display: none;

	&:hover{
		background: @blue;
	}

	&__form{
		width: 100%;
		position: relative;

		input[type="text"]{
			display: block;
			width: 100%;
			height: 52px;
			background: none !important;
			border: none;
			border-bottom: 1px solid #758490;
			color: #fff;
			font: 24px/52px @open-l;
			border-radius: 0 !important;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #758490;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #758490;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #758490;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #758490;
			}

		}

		button{
			position: absolute;
			top: 0;
			right: 18px;
			background: none !important;
			border: none !important;
			outline: none !important;
			padding: 0;

			&:hover{

				&:before{
					color: #fff;
				}
			}

			&:before{
				font-size: 35px;
				line-height: 35px;
				color: #758490;
				transition: color .3s ease;

			}
		}
	}
	
}