//out:none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	3.1. Main Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-nav {
    display: inline-block;
    vertical-align: middle;
    padding-right: 125px;

}

.top-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    >li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        padding: 26px 0;
        >a {
            display: block;
            font: 14px /28px @open-b;
            color: @blue;
            text-transform: uppercase;
            &:hover {
                color: @red;
            }
        }
    }
}

.top-btns {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    >li {
        display: block;
        float: left;

		&.top-btns__phone {
			display: none;

            >a {
                background: #808d98;
                padding: 18px 20px 8px;
                
                i{
                	&:before{
                		color: #fff;
					    font-size: 35px;
					    line-height: 36px;
                	}
                }

                &:hover {
                    background: @red;
                }
            }
        }

        &.top-btns__search {
            >a {
                background: @blue;
                border-right: 1px solid @blue;
                &:hover {
                    background: @red;
                }
            }
        }
        &.top-btns__hamburger {
        	display: none;
            >a {
                background: @red;
                &:hover {
                    background: #808d98;
                }
            }
        }
        &.top-btns__get-ticket {
            >a {
                background: @red;
                &:hover {
                    background: #808d98;
                }
            }
        }
        >a {
            display: block;
            font: 14px /28px @open-b;
            color: #fff;
            text-transform: uppercase;
            width: 10.5vw;
            float: left;
            text-align: center;
            padding: 26px 15px;
            transition: all .3s ease;
        }
    }
}


/* Hamburger */

.hamburger {
    padding: 27px 26px;
    display: inline-block;
    cursor: pointer;
    transition-property: background, -webkit-filter;
    transition-property: background, filter;
    transition-property: background, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: @red;
    border: 0;
    margin: 0;
    overflow: visible;
    border-right: 1px solid @blue;
    border-left: 1px solid @red;
    outline: none !important;
}

.hamburger:hover {
    background: @blue;
}

.hamburger-box {
    width: 24px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 24px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px;
}


/*
 * Spin
 */

.hamburger--spin .hamburger-inner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* Mobile Navigation */
.mobile-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @red;
	z-index: 99;
	display: none;
	

	&__in{
		max-height: 100vh;
		padding: 115px 20px 20px;
		overflow-y: auto;
	}
}

.mobile-main-menu{
	margin: 0;
	padding: 0;
	list-style-type: none;

	>li{
		display: block;
		margin-bottom: 22px;

		>a{
			display: inline-block;
			font: 14px /16px @open-ex;
			text-transform: uppercase;
			color: #fff;
			letter-spacing: .04em;
		}
	}
}

.mobile-addition-menu{
	margin: 0 0 20px;
	padding: 25px 0;
	list-style-type: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

	>li{
		display: block;
		margin-top: 13px;

		&:first-child{
			margin-top: 0;
		}

		>a{
			display: inline-block;
			color: #fff;
			font: 12px /16px @open;
		}
	}
}

.mobile-foot-menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 0 /0 a;
	max-width: 400px;
	>li{
		display: inline-block;
		width: 49.5%;

		&.mobile-lng{
			border-right: 1px solid #fff;

			a{
				font: 14px /24px @open-b;
				color: #fff;
				text-transform: uppercase;
				margin-right: 30%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.mobile-follow{
			text-align: right;

			span{
				display: inline-block;
				font: 12px /24px @open-b;
				color: #fff;
				vertical-align: middle;
			}

			a{
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;

				i{

					&:before{
						font-size: 22px;
						line-height: 24px;
						color: #fff;

					}
				}
			}
		}
	}

}