/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	4.1. Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Hero Slider*/
.home-hero{
	height: 100vh;
	padding-top: 80px;
	position: relative;
}

.hero{
	position: absolute;
	left: 0;
	top: 80px;
	bottom: 0;
	right: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-list{
    	height: 100%;
    }

    .slick-track{
    	height: 100%;


    }

    .slick-dots{
    	position: absolute;
		list-style-type: none;
		margin: 0;
		padding: 0;
		right: 35px;
		top: 50%;
		transform: translateY(-50%);

		>li{
			display: block;
			margin-top: 20px;

			&.slick-active{

				>button{
					background: @red;
					border-color: @red;
					opacity: 1 !important;
				}
			}

			&:first-child{
				margin-top: 0;
			}

			>button{
				display: block;
				border: 1px solid #fff;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: none;
				transition: all .3s ease;
				font: 0 /0 a;
				padding: 0;
				text-indent: -99999px;
				outline: none !important;


				&:hover{
					background: @red;
					border-color: @red;
					opacity: .6;
				}
			}
		}

    }

}

.hero__slide{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&.slick-active{

		.hero__slide__in{
			opacity: 1;
			top: 50%;
		}
	}

	.container{
		position: relative;
		height: 100%;

	}

	&__in{
		position: absolute;
		top: 40%;
		left: 15px;
		transform: translateY(-50%);
		transition: all .6s ease .8s;
		opacity: 0;

	}

	&__info{
		font: 21px /25px @open-b;
		color: @red;
		display: block;
		text-transform: uppercase;
	}


	&__head{
		font: 72px /72px @open-b;
		color: #fff;
		display: block;
		margin-bottom: 8px;
		margin-top: -2px;
	}


	&__place{
		font: 26px /28px @open-s;
		color: #fff;
		display: block; 
		margin-bottom: 20px;
	}


	&__btns{
		
		a{
			display: inline-block;
			margin-right: 28px;
			font: 14px /28px @open-b;
			color: #fff;
			text-transform: uppercase;
			padding: 15px;
			transition: all .3s ease;
			text-align: center;
			min-width: 170px;
		}
	}

	&__btn-buy{
		background: @red;

		&:hover{
			background: @blue;
		}
	}

	&__btn-info{
		border: 1px solid #fff;

		&:hover{
			background: #fff;
			color: @blue;
		}
	}
}


/* Latest Section */
.latest{
	background: #fff;
	padding: 43px 0;
	text-align: center;

	&__head{
		font: 16px /28px @open-b;
		color: @red;
		text-transform: uppercase;	
		display: block;
	}

	&__subhead{
		margin: 0;
		font: 32px /28px @open-b;
		color: @blue;
	}
}


/* Events */
.events{
	

	div[class^="col-"]{
		padding: 0;
	}

	.events__list{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__i{
		float: left;
		position: relative;
		width: 100%/3;
		overflow: hidden;

		&:hover{

			.events__i__pic{
				transform: scale(1.1) rotate(2deg);

				&:before{
					opacity: 1;
				}
			}
			
			.events__i__info{
				background: rgba(198,33,39,.85);
			}
		}

		&__pic{
			display: block;
			transition: all .5s ease;

			&:before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				z-index: 1;
				background: rgba(19,31,41,.5);
				opacity: 0;
				transition: opacity .3s ease;
			}

			img{
				display: block;
				width: 100%;
				height: 18vw !important;
			}

		}


		&__info{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			padding: 15px;
			background: rgba(0,0,0,.85);
			z-index: 2;
			
			transition: background .3s ease;
		}

		&__name{
			font: 18px /24px @open-s;
			color: #fff;
			display: block;
			margin-bottom: 5px;
			transition: color .3s ease;
		}

		&__place{
			font: 12px /24px @open;
			color: #fff;
			display: block;
			transition: color .3s ease;
		}
	}

}

.event-big{

	&__pic{
		overflow: hidden;
		display: block;

		img{
			display: block;
			width: 100%;
			height: 36vw !important;
		}
	}

	&__info{
		position: absolute;
		left: 118px;
		right: 38px;
		bottom: 24px;
	}

	&__head{
		display: block;
		font: 36px /36px @open-s;
		color: @red;
	}

	&__foot{
		border-top: 2px solid #fff;
		position: relative;
		margin-top: 14px;
		padding-top: 17px;
		.justify;

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: -2px;
			left: 0;
			width: 40px;
			background: @red;
			height: 2px;
		}
	}

	&__place{
		display: inline-block;
		vertical-align: middle;
		font: 16px /24px @open;
		color: #fff;
	}

	&__btns{
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		list-style-type: none;

		>li{
			display: inline-block;
			margin-left: 6px;

			&.event-big__ticket-btn{
				
				>a{
					background: @red;
					border: 1px solid @red;
					&:hover{
						background: @blue;
						border-color: @blue;
					}
					
				}
			}

			&.event-big__info-btn{

				>a{
					background: none;
					border: 1px solid #fff;

					&:hover{
						background: #fff;
						color: @blue;
					}
				}
			}

			a{
				display: block;
				font: 12px /24px @open-ex;
				color: #fff;
				transition: all .3s ease;
				text-transform: uppercase;
				padding: 0 8px;
			}
		}
	}
}


/* Featured Events */
.featured{
	padding: 75px 0 60px;
	background: url(../img/home/featured/featured-bg.jpg) no-repeat center center/cover;
	overflow: hidden;

	&__head{
		text-align: center;

		>img{
			display: inline-block;

		}

		>span{
			display: block;
			margin: -20px auto 20px;
			color: #c62127;
			font: 16px /22px @open;
			max-width: 235px;

		}	
	}
}

.featured-slider{
	position: relative;
	margin-top: 62px;

	.slick-track:hover{
		
		.featured__i{
			opacity: .4;

			&:hover{
				opacity: 1;
			}
		}
	}

	.slick-arrow{
		position: absolute;
		top: 40%;
		display: inline-block;
		border: none !important;
		background: none;
		outline: none !important;
		width: 55px;
		padding: 0;
		

		&:hover{
			&:before{
			 color: @red;
				
			}
		}

		&:before{
			font-family: "untitled-font-3" !important;
		  font-style: normal !important;
		  font-weight: normal !important;
		  font-variant: normal !important;
		  text-transform: none !important;
		  speak: none;
		  line-height: 1;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
			color: #fff;
			font-size: 48px;
			transition: color .3s ease;
		}

		&.slick-prev{
			left: -123px;


			&:before{	
				content:"\61";
			}
		}

		&.slick-next{
			right: -123px;

			&:before{
				content:"\62";
			}
		}
	}
	 
}

.featured__list{

}

.featured__i{
	text-align: center;
	transition: opacity .3s ease;
	margin: 0 5px;

	&__pic{
		display: block;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	&__head{
		font: 20px /28px @open-s;
		color: #fff;
		display: block;
		margin: 15px 0 5px;

		&:hover{
			color: @red;
		}
	}

	&__place{
		font: 12px /18px @open;
		color: #fff;
		display: block;
	}
	

	&__btns{
		margin-top: 12px;
		margin-bottom: 5px;

		>a{
			display: inline-block;
			color: #fff;
			transition: all .3s ease;
			padding: 0 10px;
			text-transform: uppercase;
			font: 12px /22px @open-ex;
			margin: 0 2px;
		}
	}

	&__ticket-btn{
		border: 1px solid @red;
		background: @red;

		&:hover{
			border: 1px solid #fff;
			background: @blue;
		}
	}

	&__info-btn{
		border: 1px solid #fff;
		background: none;

		&:hover{
			background: #fff;
			color: @blue;
		}
	}

}

.has-arrow{
	font: 14px /24px @open-b;	
	color: #fff;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	&:after{
		display: inline-block;
		content: "\66";
		font-family: "untitled-font-3" !important;
		  font-style: normal !important;
		  font-weight: normal !important;
		  font-variant: normal !important;
		  text-transform: none !important;
		  speak: none;
		  line-height: 1;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  transition: color .3s ease;
		  
		  color: @red;
		  font-size: 19px;
		  line-height: 24px;
		  vertical-align: middle;
		  position: relative;
		  top: -1px;
	}

	&:hover{

		&:after{
			color: #fff;
		}
	}
}

.featured__links{
	margin-top: 75px;
	.justify;

	a{
		font: 14px /24px @open-b;	
		color: #fff;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;

		&:hover{
			color: @red;
		}
	}

	&__view{
		
		&:after{
			display: inline-block;
			content: "\66";
			font-family: "untitled-font-3" !important;
			  font-style: normal !important;
			  font-weight: normal !important;
			  font-variant: normal !important;
			  text-transform: none !important;
			  speak: none;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  
			  color: @red;
			  font-size: 19px;
			  line-height: 24px;
			  vertical-align: middle;
			  position: relative;
			  top: -1px;
		}

		&:hover{

			&:after{
				color: #fff;
			}
		}
	}

	&__pdf{
		
		i{
			display: inline-block;
			vertical-align: middle;
			height: 24px;
			margin-right: 8px;
			
			&:before{
				font-size: 24px;
				line-height: 24px;
				color: @red;
				transition: color .3s ease;
			}


		}

		&:hover{
			color: @red;

			i:before{
				color: #fff;
			}
		}
	}
}

/* Services */
.services{
	display: table;
	width: 100%;
	background: #fff;

	&__i{
		display: table-cell;
		width: 50%;
		text-align: right;
		padding: 107px 30px 80px;
		vertical-align: top;

		& + &{
			text-align: left;
			background: url(../img/home/services/services-1.jpg) no-repeat center center/cover;


			.services__i__txt{
				color: #fff
			}

			.services__i__link{
				color: #fff;

				&:hover{

					color: @red;

					&:after{
						color: #fff;
					}
				}
			}


		}

		&__in{
			max-width: 555px;
			text-align: left;
			display: inline-block;
		}

		&__head{
			display: block;
			font: 30px /36px @open-b;
			color: #131f29;

			img{
				margin-top: 4px;
				display: block;
				max-width: 100%;
			}
		}

		&__txt{
			font: 16px /28px @open;
			color: #131f29;
			margin: 28px 0 39px;
		}

		&__link{
			color: #131f29;

			&:after{
				color: @red;

			}

			&:hover{
				color: @red;

				&:after{
					color: @blue;
				}
			}
		}
	}
}


/* Gallery */
.gallery{

	div[class^="col-"]{
		padding: 0 !important;
	}

	&__i{
		display: block;
		float: left;
		width: 100%/3;
		position: relative;
		overflow: hidden;
		text-decoration: none;

		&.gallery__i--fb{
			&:before{
				display: none !important;
			}
		}

		&:hover{
			
			&:before{
				opacity: 1;
				transform: scale(1);
			}
		}

		&:before{
			content:"";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(198,33,39,.5);
			opacity: 0;
			transform: scale(.5);
			transition: all .2s ease;
		}

		img{
			display: block;
			width: 100%;
			max-width: 100%;
			height: 16vw;
		}

		&&--width-2-3{
			width: (100%/3)*2;
		}

		&&--width-2{
			width: 50%;
		}

		&&--width-3{
			width: 100%;
		}

		&&--height-2{
			img{
				height: 32vw;
				
			}
		}
	}
}

.gallery__i__fb-widget{
	height: 16vw;
	padding: 12px 12px 12px 30px;
	background: #3b5998;
	width: 100%;
	.justify;

	&__in{
		display: inline-block;
		vertical-align: middle;
		width: 51%;
		height: 100%;
		text-align: left;
		padding-top: 39px;
	}

	&__h{
		font: 36px /36px @open-b;
		color: #fff;
		display: inline-block;
		vertical-align: middle;

	}

	&__txt{
		display: inline-block;
		font: 14px /24px @open;
		color: #fff;
		vertical-align: middle;
	}

	&-box{
		display: inline-block;
		vertical-align: middle;
		width: 47%;
		height: 100%;
		text-align: left;
	}
}


/* Partners */
.partners-section{
	background: @blue;
	padding: 50px 0;
}

.partners{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;

	>li{
		display: inline-block;
		margin-left: 50px;
		vertical-align: middle;

		&:last-child{
			float: right;
			padding-top: 11px;
		}

		&:first-child{
			margin-left: 0;
		}

		a{
			display: block;
			position: relative;

			img{
				display: block;
				opacity: 1;
				transition: opacity .3s ease;

				&.partners__img-hover{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
				}
			}

			&:hover{

				>img{
					opacity: 0;

					&.partners__img-hover{
						opacity: 1;
					}
				}
			}
		}
	}
}