//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	5. Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-foot{
	background: @red;
	padding: 30px 0 33px;
}

.logo--foot{
	display: inline-block;
	vertical-align: middle;

	>img{
		display: block;
	}
}

.foot-top-row{
	.justify;
}

.foot-nav{
	display: inline-block;
	vertical-align: middle;
}

.foot-menu{	
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-top: 27px;

	>li{
		display: inline-block;
		margin-right: 7px;

		a{
			display: block;
			font: 12px / 28px @open-ex;
			color: #fff;
			text-transform: uppercase;

			&:hover{
				color: @blue;
			}
		}
	}
}

.foot-controls{
	display: inline-block;
	vertical-align: middle;
	padding-top: 22px;

	form{
		position: relative;
		width: 250px;
		padding-right: 44px;
		height: 36px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;

		input[type="email"]{
			height: 36px;
			width: 100%;
			display: block;
			border: 1px solid #fff !important;
			outline: none !important;
			background: none;
			font: 12px/normal @open;
			color: #fff;
			padding: 0 11px;
			border-right: none;

			&:focus,
			&:active{
				background: #fff;
				color: @blue;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: @blue;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: @blue;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: @blue;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: @blue;
				}
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #fff;
			  font: 12px/34px @open-i;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #fff;
			  font: 12px/34px @open-i;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #fff;
			  font: 12px/34px @open-i;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #fff;
			  font: 12px/34px @open-i;
			}


		}

		button{
			position: absolute;
			border: 1px solid #fff;
			width: 45px;
			top: 0;
			bottom: 0;
			right: 0;
			color: #fff;
			outline: none !important;
			text-transform: uppercase;
			font: 12px /34px @open-ex;
			text-align: center;
			display: block;
			background: none;
			transition: all .3s ease;

			&:hover{
				background: @blue;
				border-color: @blue;
			}
		}
	}

	.lng{
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		height: 36px;
		border: 1px solid #fff;
		background: none;
		cursor: pointer;
		position: relative;

		&:hover{
			background: #fff;

			.lng__current{
				color: @blue;
			}

			&:after{
				color: @blue;
			}
		}

		&.is-opened{
			background: #fff;

			.lng__current{
				color: @blue;
			}

			&:after{
				content: "\6a";
				color: @red;
			}
		}

		&:after{
			content: "\69";
			font-family: "untitled-font-3" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: #fff;
			font-size: 15px;
			line-height: 34px;
			display: block;
			width: 25px;
			position: absolute;
			right: 0;
			top: 0;
			transition: all .3s ease;
		}

		&__current{
			color: #fff;
			font: 12px/34px @open-s;
			display: block;
			padding-left: 14px;
			transition: color .3s ease;
		}

		&__list{
			margin: 0;
			padding: 0;
			list-style-type: none;
			position: absolute;
			left: -1px;
			right: -1px;
			top: 100%;
			display: none;

			>li{
				display: block;

				>a{
					display: block;
					background: @blue;
					width: 100%;
					height: 36px;
					color: #fff;
					font: 12px/34px @open-s;
					padding-left: 14px;
					border-top: 1px solid @red;
					transition: all .3s ease;

					&:hover{
						background: #fff;
						color: @blue;
					}
				}
			}
		}
	}
}


.foot-bottom-row{
	text-align: left;
	color: #fff;
	margin-top: 17px;

	.copy{
		font: 12px /20px @open;
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
	
	}
}

.addition-nav{
	display: inline-block;
	vertical-align: middle;

	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;

		>li{
			display: inline-block;
			margin-right: 11px;

			>a{
				display: block;
				font: 12px /20px @open;
				color: #fff;

				&:hover{
					color: @blue;
				}
			}
		}
	}
}

.follow{
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;

	>li{
		display: inline-block;
		font: 12px /20px @open;
		vertical-align: middle;
		margin-left: 13px;

		&:first-child{
			margin: 0 5px 0 0;
		}

		>a{
			display: inline-block;
			vertical-align: middle;

			&:before{
				color: #fff;
				font-size: 18px;
				line-height: 20px;
				vertical-align: middle;
				transition: color .3s ease;
			}

			&:hover{

				&:before{
					color: @blue;
				}
			}
		}
	}
}