//out: none;
/* Fonts */

//Open Sans Famyly
@open: "OpenSans", sans-serif;
@open-i: "OpenSans-Italic", sans-serif;
@open-l: "OpenSans-Light", sans-serif;
@open-li: "OpenSans-LightItalic", sans-serif;
@open-s: "OpenSans-Semibold", sans-serif;
@open-si: "OpenSans-SemiboldItalic", sans-serif;
@open-b: "OpenSans-Bold", sans-serif;
@open-bi: "OpenSans-BoldItalic", sans-serif;
@open-ex: "OpenSans-ExtraBold", sans-serif;
@open-exi: "OpenSans-ExtraBoldItalic", sans-serif;
@open-cb: "OpenSans-CondBold", sans-serif;
@open-cl: "OpenSans-CondLight", sans-serif;
@open-cli: "OpenSans-CondLightItalic", sans-serif;

@awe: "fontAwesome";

/* Color */
@blue: #131f29;
@red: #c62127;

@green: #82b146;
@orange: #fd6d32; 

//background: rgba(253, 109, 50, .1);
//background: rgba(130, 177, 70, .1);
//background: rgba(109, 197, 239, .1);

/* Mixins */
.justify{
	text-align: justify;
	text-justify: newspaper;
	font: 0/0 a;

	&:after{
		content:"";
		display: inline-block;
		width: 100%;
	}
}

