/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 	2.2. Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("../fonts/icon-font/untitled-font-3.eot");
  src:url("../fonts/icon-font/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/untitled-font-3.woff") format("woff"),
    url("../fonts/icon-font/untitled-font-3.ttf") format("truetype"),
    url("../fonts/icon-font/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-big-angle-left:before {
  content: "\61";
}
.icon-big-angle-right:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-map-marker:before {
  content: "\65";
}
.icon-angle-right:before {
  content: "\66";
}
.icon-angle-left:before {
  content: "\67";
}
.icon-method-draw-image:before {
  content: "\68";
}
.icon-angle-down:before {
  content: "\69";
}
.icon-angle-up:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-vectorpaint-3:before {
  content: "\6c";
}

/* BEGIN Light */
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Extrabold Italic */

/* BEGIN CondBold */
@font-face {
  font-family: 'OpenSans-CondBold';
  src: url("../fonts/OpenSans/CondBold/OpenSans-CondBold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/CondBold/OpenSans-CondBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/CondBold/OpenSans-CondBold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/CondBold/OpenSans-CondBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/CondBold/OpenSans-CondBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/CondBold/OpenSans-CondBold.svg?v=1.1.0#CondBold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END CondBold Italic */

/* BEGIN CondLight */
@font-face {
  font-family: 'OpenSans-CondLight';
  src: url("../fonts/OpenSans/CondLight/OpenSans-CondLight.eot?v=1.1.0");
  src: url("../fonts/OpenSans/CondLight/OpenSans-CondLight.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/CondLight/OpenSans-CondLight.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/CondLight/OpenSans-CondLight.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/CondLight/OpenSans-CondLight.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/CondLight/OpenSans-CondLight.svg?v=1.1.0#CondLight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END CondLight Italic */

/* BEGIN CondLight Italic */
@font-face {
  font-family: 'OpenSans-CondLightItalic';
  src: url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/CondLightItalic/OpenSans-CondLightItalic.svg?v=1.1.0#CondLightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Extrabold Italic */

