//out: none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~
	6. Helpers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* streem */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* box model */
.m0{
    margin: 0;
}

.p0{
    padding: 0;
}

.bn{
   border: none; 
}

.dt{
    display: table;
}

.dtc{
    display: table-cell;
}


/* text */
.tc{
    text-align: center;
}

.tl{
    text-align: left;
}

.tr{
    text-align: right;
}

.tup{
    text-transform: uppercase;
}

/* other */
.fit-img-container{
  overflow: hidden;
  background: #d1d1d1;

  >img{
    object-fit: cover;
    display: block;
    width: 100%;
    //height: 100%;
  }

  &.compat-object-fit{
    background-size: cover;
      background-position: center center;

      >img{
        opacity: 0;

      }
  }
}