//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	7. Media Queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1599px) {
	.main-head__in{
		text-align: left;
	}

	.top-nav{
		margin-left: 50px;
	}
}

@media only screen and (max-width : 1500px) {
	.featured-slider .slick-arrow.slick-next{
		right: -60px;
	}

	.featured-slider .slick-arrow.slick-prev{
		left: -60px;
	}

	.gallery__i__fb-widget__h{
		font: 28px / 30px "OpenSans-Bold",sans-serif;
	}

	.gallery__i__fb-widget__txt{
	    font: 14px / 20px "OpenSans",sans-serif;
	}

	.gallery__i__fb-widget__in{
		padding-top: 20px;
	}

}

@media only screen and (max-width : 1400px) {
	.featured-slider{
		padding: 0 70px;
	}

	.events__i__info{
		padding: 7px;
	}

	.events__i__name{
	    font: 16px / 18px "OpenSans-Semibold",sans-serif;
	    margin: 0;
	}

	.events__i__place {
	    font: 12px / 18px "OpenSans",sans-serif;
	}

}

@media only screen and (max-width : 1300px) {
	.top-nav {
		margin-left: 25px;
	}

	.gallery__i img{
	    height: 20vw;
	}

	.gallery__i.gallery__i--height-2 img {
		height: 40vw;
	}

	.gallery__i__fb-widget{
		height: 20vw;
	}

	.gallery__i__fb-widget{
		padding: 10px;
	}

	.gallery__i__fb-widget__in{
		width: 49%;
	}

	.gallery__i__fb-widget-box{
		width: 49%;
	}

	.partners>li{
		margin-left: 40px;
	}


}

@media only screen and (min-width : 1201px) {
	.mobile-nav{
		display: none !important;
	}
}

@media only screen and (max-width : 1200px) {
	.top-btns>li>a{
		width: auto;
		padding: 21px 15px;
	}

	.head-search{
		top: 70px;
	}



	.home-hero{
		padding-top: 70px;
	}

	.hero{
		top: 70px;
	}

	.top-btns>li.top-btns__search>a{
		font: 0/0 a;
		padding: 17px 20px;

		&:before{
			content: "\6b";
			color: #fff;
		    font-size: 35px;
		    line-height: 36px;
		    -webkit-transition: color .3s ease;
		    transition: color .3s ease;
		    text-transform: none !important;
			font-weight: normal !important;
			font-style: normal !important;
			font-variant: normal !important;
			font-family: "untitled-font-3" !important;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	.main-head{
		padding: 3px 0;
	}

	.top-nav{
		padding: 0;
		margin: 0;

	}

	.top-menu{
		display: none;
	}

	.top-btns>li.top-btns__phone{
		display: block;
	}

	.top-btns>li.top-btns__hamburger{
		display: block;
	}

	.featured-slider .slick-arrow{
		top: 35%;
		width: 35px;
	}

	.featured-slider .slick-arrow:before{
		font-size: 35px;
	}

	.gallery__i__fb-widget__in {
		padding-top: 0;
	}

	.gallery__i__fb-widget__h {
		font: 22px / 24px "OpenSans-Bold",sans-serif;
	}

	.gallery__i.gallery__i--height-2 img {
	    height: 36vw;
	}

	.gallery__i img {
		height: 18vw;
	}

	.gallery__i__fb-widget {
		height: 18vw;
	}

	.gallery__i__fb-widget__txt {
	    font: 14px / 16px "OpenSans",sans-serif;
	    margin: 5px 0 0;
	}

	.partners-section .container{
		width: 100%;
	}

	.partners>li {
	    margin-left: 30px;
	}
}



@media only screen and (max-width : 1024px) {
	.hamburger{
		background: @red !important;
	}

	.hero__slide__in{
		top: auto !important;
		bottom: 70px;
		transform: translateY(0);
	}

	.hero__slide.slick-active .hero__slide__in{
		bottom: 30px;
	}

	.latest__subhead {
	    font: 32px / 34px "OpenSans-Bold",sans-serif;
	}

	.events__i__pic img{
		height: 22vw !important;
	}

	.event-big__pic img{
		height: 44vw !important;
	}

	.event-big__info{
		right: 20px;
		left: 20px;
		bottom: 20px;
	}

	.events__i:hover .events__i__pic{
		transform: none !important;
	}

	.partners{
		text-align: center;
	}

	.partners>li,
	.partners>li:first-child{
		margin: 10px 1%;
		max-width: 30%;
	}

	.partners>li:last-child {
	    float: none;
	    display: block;
	    text-align: center;
	    margin-top: 20px;
	    max-width: 100%;

	    >a{
	    	display: inline-block;
	    }
	}

	.partners-section{
		padding: 10px 0 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.main-head{

		.container{
			max-width: 100%;
			padding-left: 5px;
		}
	}

	.services{
		display: block;
	}

	.services__i{
		display: block;
		width: 100%;
		padding: 40px 15px;
	}

	.services__i__in{
		max-width: 100%;
	}

	.services__i__txt{
		margin: 20px 0;
	}

	.gallery__i.gallery__i--height-2 img {
	    height: 54vw;
	}

	.gallery__i img {
	    height: 27vw;
	}

		.gallery__i__fb-widget {
	    height: 27vw;
	}

	.gallery__i__fb-widget__in {
	    padding-top: 9%;
	}

}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hero .slick-dots{
		display: none !important;
	}

	.event-big__pic img {
	    height: 450px !important;
	}

	.events__i__pic img {
	    height: 290px !important;
	}

	.gallery__i__fb-widget__in {
	    padding-top: 5%;
	}

	.foot-menu{
		display: none;
	}

	.addition-nav{
		display: none;
	}
}

@media only screen and (max-width : 740px) {
	.hero__slide__info{
		font: 16px /30px @open-b;
		
	}
	.hero__slide__head{
		font: 30px /30px @open-b;
	}

	.hero__slide__place{
		font: 16px /30px @open-b;
		
	}

	.hero__slide__btns{
		.justify;
		display: block;
		width: 100%;
		max-width: 380px;
	}

	.hero__slide__btns a{
		margin: 0;
		vertical-align: middle;
		width: 47%;
		min-width: 1px;
	}

	.hero__slide__in{
		left: 20px;
		right: 20px;
	}

	.head-search__form input[type="text"]{
		height: 45px;
		font-size: 14px;
	}

	.head-search__form button:before{
		font-size: 25px;
	}

	.head-search{
		padding: 10px 0 20px;
	}

	.head-search .container{
		padding-left: 15px !important;
	}

	.hero__slide__btns a{
		padding: 5px 15px;
	}

	.hero__slide__btns a.hero__slide__btn-buy{
		padding: 6px 15px;
	}

	.foot-controls form input[type="email"]{
		line-height: 34px;
		border-radius: 0 !important;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {

	.featured-slider {
		padding: 0 30px;
	}

	.featured-slider .slick-arrow.slick-next{
		right: -30px;
	}

	.featured-slider .slick-arrow.slick-prev{
		left: -30px;
	}

	.featured-slider .slick-arrow:before {
		font-size: 25px;
	}

	.featured-slider .slick-arrow {
	    top: 40%;
	    width: 25px;
	}

	.events__i{
		width: 50%;
	}

	.events__i__pic img {
	    height: 300px !important;
	}

	.event-big__pic img {
	    height: 410px !important;
	}

	.featured__links__pdf{
		display: none !important;
	}

	.featured__links{
		text-align: center;
	}

	.featured__links{
		margin-top: 40px;
	}

	.featured-slider{
		margin-top: 26px;
	}

	.gallery__i{
		width: 100% !important;
	}

	.gallery__i img {
		height: 420px !important;
	}

	.gallery__i__fb-widget{
		height: auto;
		padding: 30px 15px;
	}

	.gallery__i__fb-widget__in{
		padding: 0;
		width: 100%;
		display: block;
		position: relative;
	}

	.gallery__i__fb-widget-box{
		width: 100%;
		text-align: center;
	}

	.gallery__i__fb-widget-box >div{
		width: 240px ;
		height: 240px !important;
		display: inline-block;
		margin-top: 15px;
	}

	.partners>li:last-child{
		margin-top: 5px;
	}

}

@media only screen and (max-width : 500px){
	.top-btns__get-ticket{
		display: none !important;
	}

	.top-btns>li.top-btns__phone{
		>a{
		    padding: 19px 22px 13px;

			i:before{
				font-size: 22px;
			}
		}
		
	}

	.top-btns>li.top-btns__search{
		
		>a{
			border: none;
		    padding: 17px 22px;
			&:before{	
				font-size: 22px;
			}	
		}
	}

	.hamburger {
	    border: none;
	    padding: 27px 21px;
	}

	.event-big__pic img {
		height: 319px !important;
	}

	.events__i__info{
		padding: 40px 0;
	}

	.main-foot{
		position: relative;
		padding-top: 73px;
	}

	.follow{
		display: none;
	}

	.foot-controls{
		padding-top: 0;
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		text-align: center;

		form{
			display: inline-block;
		}
	}

	.foot-controls .lng{
		display: none;
	}

	.foot-bottom-row{
		margin-top: -30px;
		text-align: right;
	}

	.foot-bottom-row .copy{
		margin-right: 0;
	}


}
	

@media only screen and (max-width : 480px){
	.latest__head {
	    font: 13px / 18px "OpenSans-Bold",sans-serif;
	}

	.latest__subhead {
	    font: 18px / 22px "OpenSans-Bold",sans-serif;
	}

	.latest{
		padding: 20px 0;
	}

	.services__i{
		padding: 30px 15px;
	}

	.services__i__head{
		font: 20px / 24px "OpenSans-Bold",sans-serif;
	}

	.services__i__txt{
		margin: 15px 0;
	    font: 14px / 22px "OpenSans",sans-serif;

	}


	

	
}

@media only screen and (max-width : 400px){
	.logo>img{
		width: 100px;
	}

	.main-head {
	    padding: 8px 0 9px;
	}

	.main-head .container{
		padding-left: 0;
	}

	.events__i {
	    width: 100%;
	}

	.event-big__pic img {
	    height: 240px !important;
	}

	.events__i__pic img{
		height: 240px !important;
	}

	.event-big__btns{
		display: none;
	}

	.event-big__foot:before{
		display: none;
	}

	.event-big__foot{
		border: none;
		margin: 0;
		padding: 0;

		span{
			font: 12px / 18px "OpenSans",sans-serif;
		}
	}

	.event-big__info{
		left: 0;
		right: 0;
		bottom: 0;
		padding: 7px 15px;
		text-align: left;
	    background: rgba(0,0,0,0.85);
	}

	.events__i__info{
		text-align: left;
		padding: 7px 15px;
	}

	.event-big__head{
	    font: 16px / 18px "OpenSans-Semibold",sans-serif;
	    color: #fff;
	}

	.gallery__i img {
		height: 240px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}