@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("../fonts/icon-font/untitled-font-3.eot");
  src:url("../fonts/icon-font/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/untitled-font-3.woff") format("woff"),
    url("../fonts/icon-font/untitled-font-3.ttf") format("truetype"),
    url("../fonts/icon-font/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-big-angle-left:before {
  content: "\61";
}
.icon-big-angle-right:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-map-marker:before {
  content: "\65";
}
.icon-angle-right:before {
  content: "\66";
}
.icon-angle-left:before {
  content: "\67";
}
.icon-method-draw-image:before {
  content: "\68";
}
.icon-angle-down:before {
  content: "\69";
}
.icon-angle-up:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-vectorpaint-3:before {
  content: "\6c";
}
